# Server Configuration
SECRET_KEY=django-insecure-orqestra-dev-key-change-in-production
ALLOWED_HOSTS=localhost,127.0.0.1
ALLOWED_CORS_DOMAINS=http://localhost:8080
DEBUG=True

# AWS Configuration
AWS_REGION=us-east-1
AWS_DEFAULT_REGION=us-east-1
AWS_LAMBDA_EXECUTION_ROLE_ARN=
AWS_PROFILE=default
# Database Configuration
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Client Configuration
VITE_API_URL=http://localhost:3001
